
/* generic */

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    background-color: #F0F0F0;
}

a
{
    color: #0066CC;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

a img
{
    border-width: 0;
}

/* head */

#head-outer
{
    position: relative;
    width: 100%;
    min-width: 700px;
    height: 120px;
    background-color: #000000;
    background-image: url(/images/logo-back.png);
    background-repeat: repeat-x;
}

#head-inner
{
}

#head-logo
{
    position: relative;
    width: 350px;
}
#head-logo img
{
    display: block;
}

#head-navi
{
    position: absolute;
    top: 95px;
    right: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #CCCCCC;
}
#head-navi a
{
    color: #99CCFF;
}

#head-ad
{
    position: absolute;
    width: 470px;
    height: 62px;
    top: 25px;
    right: 20px;
}

/* body */

#body-outer-with-background,
#body-outer-without-background
{
    position: relative;
    width: 100%;
    min-width: 700px;
}

#body-outer-with-background
{
    background-image: url(../images/side-column-back.png);
    background-repeat: repeat-y;
    background-position: right;
}

#body-inner
{
}

#content-outer
{
}

#content-inner
{
    padding: 10px;
}

#content-column-outer
{
    margin: 0px 200px 0px 0px;
}

#content-column-inner
{
    padding: 10px;
}

#side-column-outer
{
    width: 200px;
    min-height: 400px;
}

#side-column-inner
{
    padding: 10px;
}

/* foot */

#foot-outer
{
    width: 100%;
    min-width: 700px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #D0D0D0;
}

#foot-inner
{
    padding: 20px;
}

#foot-powerd
{
    float: right;
    font-size: 90%;
    font-weight: bold;
    color: #999999;
}
#foot-powerd a
{
    color: #333333;
}

#foot-github
{
    font-size: 95%;
}

#foot-services
{
    font-size: 90%;
    color: #999999;
}
#foot-services a
{
    color: #333333;
}

/* topic path */

#topic-path
{
    padding: 0.1em 0.4em;
    background-color: #E0E0E0;
    color: #999999;
    font-size: 90%;
}

#topic-path a
{
}

#topic-path em
{
    color: #666666;
    font-weight: bold;
    font-style: normal;
}

/* for debug */

div.debug
{
    margin-top: 1em;
    background-color: #FFF0F0;
}

/* table.list */

table.list
{
    border-collapse: collapse;
}

table.list thead tr th
{
    padding: 0.4em;
    border-width: 1px;
    border-style: solid;
    border-color: #F0F0F0;
    color: #CCCCCC;
    background-color: #333333;
}

table.list tbody tr
{
    border-width: 1px;
    border-style: solid;
    border-color: #F0F0F0;
}

table.list tbody tr td
{
    padding: 0.2em 0.4em;
    border-width: 0;
}

table.list tbody tr.even td
{
    background-color: #E0E0E0;
}

table.list tbody tr.odd td
{
    background-color: #D0D0D0;
}

/* signup-progress */
/* FIXME: 別ファイルに分離 */

ol#email-signup-progress
{
}

ol#email-signup-progress li
{
    display: inline;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

ol#email-signup-progress li.active
{
    font-weight: bold;
}

ol#email-signup-progress li.inactive
{
    font-weight: normal;
}

#dialog
{
    margin: 100px auto;
    padding: 15px;
    width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
}
#dialog h1
{
    margin: 0 0 0.4em 0;
    color: #666666;
    font-size: 130%;
    font-weight: bold;
}
.message
{
    color: #999999;
    font-size: 90%;
}

h1
{
    background-image: url(/images/h1-back.png);
    background-repeat: repeat-x;
    background-position: left center;
}
h1 span
{
    padding-right: 0.2em;
    background-color: #F0F0F0;
}

h2
{
    background-image: url(/images/h1-back.png);
    background-repeat: repeat-x;
    background-position: left center;
}
h2 span
{
    padding-right: 0.2em;
    background-color: #F0F0F0;
}

/* side-column */

#side-column-inner h1
{
    margin-bottom: 8px;
    color: #666666;
    font-size: 16px;
    font-weight: bold;
}

#side-column-inner hr
{
    height: 1px;
    margin: 8px 0px;
    border: none;
    background-color: #CCCCCC;
}

#signup-link
{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
#signup-free
{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    color: #990000;
}

#openid-sites
{
    font-size: 12px;
    line-height: 18px;
}
#openid-sites img
{
    vertical-align: text-bottom;
}

#side-column-inner form input.openid,
#side-column-inner form input.openid-with-desc,
#side-column-inner form input.email,
#side-column-inner form input.email-with-desc,
#side-column-inner form input.password,
#side-column-inner form input.password-with-desc
{
    width: 160px; /* width:200 - (padding:20 + padding:18 + border:2)*/
    height: 20px;
    margin-bottom: 4px;
    padding-left: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #666666;
    background-repeat: no-repeat;
    background-position: 1px;
}

#side-column-inner form input.openid
{
    background-image: url(/images/icons/openid.png);
}

#side-column-inner form input.openid-with-desc
{
    background-image: url(/images/icons/openid-with-desc.png);
}

#side-column-inner form input.email
{
    background-image: url(/images/icons/fam/email.png);
}

#side-column-inner form input.email-with-desc
{
    background-image: url(/images/icons/fam/email-with-desc.png);
}

#side-column-inner form input.password
{
    background-image: url(/images/icons/fam/key.png);
}

#side-column-inner form input.password-with-desc
{
    background-image: url(/images/icons/fam/key-with-desc.png);
}

