
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h p_("MultiAuth", "Authentication completed") %></h1>

<table>
  <tr>
    <th>OpenID</th>
    <td><%=h @identity_url %></td>
  </tr>
</table>

<%- form_tag(:action => "create") { -%>
  <div><%= submit_tag(p_("MultiAuth", "Register")) %></div>
<%- } -%>
