
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h @title %></h1>

<%- form_tag(:action => "authenticate") { -%>
  <table>
    <tr>
      <th><%= label_tag("openid_url", "OpenID URL") %></th>
      <td>
        <%= text_field_tag("openid_url", @openid_url, :size => 20) %>
      </td>
    </tr>
  </table>
  <div><%= submit_tag(p_("MultiAuth", "Next")) %></div>
<%- } -%>
