
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h p_("MultiAuth", "Registration completed") %></h1>

<%= render(:partial => "progress", :locals => {:step => 5}) %>

<div><%=h p_("MultiAuth", "Registration completed") %></div>
<div><%= link_to(h(p_("MultiAuth", "Login")), :controller => "auth/email") %></div>
