
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h p_("MultiAuth", "Pre-registration completed") %></h1>

<%= render(:partial => "progress", :locals => {:step => 3}) %>

<p>
  <%=h p_("MultiAuth", "Sent a mail to %{email}." % { :email => @signup_form.email } ) %>
</p>

<%- unless production? -%>
  <div class="debug">
    <%= link_to(h("Activation"), :action => "activation", :activation_token => @credential.activation_token) %>
  </div>
<%- end -%>
