
<%- @title = p_("MultiAuth", "You have been logged out.") -%>
<%- @enable_side_column = false -%>

<%= render :partial => 'header' %>

<div id="dialog">
  <h1><%=h @title %></h1>
  <div class="message">
    <%= p_("MultiAuth", "Please click %{link} when the page doesn't change." % { :link => link_to(h(@return_path), @return_path) }) %>
  </div>
</div>
