
<%- @title = p_("MultiAuth", "Activation") -%>

<h1><%=h @title %></h1>

<table>
  <tr>
    <th><%=h s_("EmailCredential|Email") %></th>
    <td><%=h @email_credential.email %></td>
  </tr>
</table>

<%- form_tag(:action => "activate") { -%>
  <div><%= submit_tag(p_("MultiAuth", "Activate")) %></div>
<%- } -%>
