
<%- @title = p_("MultiAuth", "Pre-registeration completed") -%>

<h1><%=h @title %></h1>

<div><%=h p_("MultiAuth", "System sent a mail to email address you specified. Please access the URL described in the mail. And complete registration.") %></div>
<div><%= link_to(h(p_("MultiAuth", "Back")), :controller => "/credentials", :action => "index") %></div>

<%- unless production? -%>
  <hr />
  <%= link_to(h("Activation"), :controller => "credentials/email", :action => "activation", :activation_token => @email_credential.activation_token) %>
<%- end -%>
