
<%- @title = "メールログイン情報の削除" -%>

<h1><%=h @title %></h1>

<div>削除します。よろしいですか？</div>

<table>
  <tr>
    <th>メールアドレス</th>
    <td><%=h @email_credential.email %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag("削除") %></div>
<%- } -%>
