
<%- @title = "OpenIDログイン情報の削除" -%>

<h1><%=h @title %></h1>

<div>削除します。よろしいですか？</div>

<table>
  <tr>
    <th>OpenID</th>
    <td><%=h @open_id_credential.identity_url %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag("削除") %></div>
<%- } -%>
